[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/vim-markdown-preview"]
	path = bundle/vim-markdown-preview
	url = git@github.com:JamshedVesuna/vim-markdown-preview.git
